In [ ]:
import pymongo

client = pymongo.MongoClient('mongodb://127.0.0.1:27017/')

db = client['Employee']
empinfo = db.employee

In [ ]:
record = {
    'firstname': 'Christopher',
    'lastname' : 'Nolan',
    'department': 'Entertainment',
    'qualification': 'BA',
    'age': 51
}

empinfo.insert_one(record)

In [ ]:
records = [{
    'firstname': 'John',
    'lastname' : 'Doe',
    'department': 'Analytics',
    'qualification': 'statistics',
    'age': 35
},
{
    'firstname': 'John',
    'lastname' : 'Snow',
    'department': 'Analytics',
    'qualification': 'master',
    'age': 30
},
{
    'firstname': 'Ygritte',
    'lastname' : 'Snow',
    'department': 'Analytics',
    'qualification': 'phd',
    'age': 34
},
{
    'firstname': 'Thomas',
    'lastname' : 'Anderson',
    'department': 'Cyber Tech',
    'qualification': 'master',
    'age': 37
}]

empinfo.insert_many(records)

In [ ]:
# simple query
empinfo.find_one()

In [ ]:
# == select * from employee
for record in empinfo.find({}):
    print(record)

In [ ]:
# == select * from employee where firstname=John
for record in empinfo.find({'firstname': 'John'}):
    print(record)

In [ ]:
# query operators ($in, $lt, $gt)
for record in empinfo.find({'qualification': {'$in': ['phd', 'master']}}):
    print(record)

In [ ]:
for record in empinfo.find({'qualification': 'master', 'age': {'$lt': 35}}):
    print(record)

In [ ]:
for record in empinfo.find({'$or': [{'firstname': 'Christopher'}, {'qualification': 'master'}]}):
    print(record)

In [ ]:
for record in empinfo.find({'$and': [{'firstname': 'John'}, {'qualification': 'master'}]}):
    print(record)

In [ ]:
inventory = db.inventory

In [ ]:
inventory.insert_many([
{"item": "canvas",
     "qty": 100,
     "size": {"h": 28, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "journal",
     "qty": 25,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "mat",
     "qty": 85,
     "size": {"h": 27.9, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "mousepad",
     "qty": 25,
     "size": {"h": 19, "w": 22.85, "uom": "cm"},
     "status": "P"},
    {"item": "notebook",
     "qty": 50,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "P"},
    {"item": "paper",
     "qty": 100,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "D"},
    {"item": "planner",
     "qty": 75,
     "size": {"h": 22.85, "w": 30, "uom": "cm"},
     "status": "D"},
    {"item": "postcard",
     "qty": 45,
     "size": {"h": 10, "w": 15.25, "uom": "cm"},
     "status": "A"},
    {"item": "sketchbook",
     "qty": 80,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "sketch pad",
     "qty": 95,
     "size": {"h": 22.85, "w": 30.5, "uom": "cm"},
     "status": "A"}
])

In [ ]:
for record in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(record)

In [ ]:
inventory.update_one(
    {'item': 'sketch pad'},
    {'$set': {'size.uom': 'm', 'status': 'P'},
        '$currentDate': {'lastModified': True}}
)

In [ ]:
inventory.update_many(
    {'qty': {'$lt': 50}},
    {'$set': {'size.uom': 'in', 'status': 'P'},
        '$currentDate': {'lastModified': True}}
)

In [ ]:
inventory.replace_one(
    {'item': 'paper'},
    {'item': 'paper',
        'instock': [
            {'warehouse': 'A', 'qty': 60},
            {'warehouse': 'B', 'qty': 40}
        ]}
)